@model ExamingSystem.Models.Sql
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>
    <div>
        <div>
            <form method="post">
                <input name="UserEmail" placeholder="email" />
                <button type="submit">Login</button>
            </form>
            @if (ViewBag.hata != null)
            {
                <span>@ViewBag.hata</span>
            }

        </div>
    </div>
</body>
</html>
